<ion-view title="Login">
  <ion-nav-buttons side="right">
    <button ng-click="logger.login()"
            ng-disabled="(!logger.user || logger.user.length === 0)
                         && (!logger.pass || logger.pass.length === 0)"
            class="button button-clear button-positive">
      Done
    </button>
  </ion-nav-buttons>
  <ion-content class="login">
    <div class="text-center instructions">
      Username
    </div>
    <div class="list">
      <label class="item item-input">
        <input ng-model="logger.user" type="text" placeholder="Username">
      </label>
    </div>

    <div class="text-center instructions">
      Password
    </div>
    <div class="list">
      <label class="item item-input">
        <input ng-model="logger.pass" type="password">
      </label>
    </div>
  </ion-content>
</ion-view>